body{
    background-image: url('https://images.unsplash.com/photo-1620926032081-0acb028d324a?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNTUxNjYwNA&ixlib=rb-1.2.1&q=85');
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    margin-top: 10px;
	border-width:40px;
	background-color: white; 
	border-style:ridge;
}
#h1
{
	color:white;
	font-family: cursive;
}
#bold1{
    color: white;
    font-family:sans-serif;
}
#d1{
    color: thistle;
}